## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [1]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [2]:
data = pd.read_csv('Automobile_visualization_using_python.csv')

**Check the head of the DataFrame.**

In [4]:
data.head().T

                               0            1            2      3      4
symboling                      3            3            1      2      2
normalized_losses            168          168          168    164    164
make                 alfa-romero  alfa-romero  alfa-romero   audi   audi
fuel_type                    gas          gas          gas    gas    gas
aspiration                   std          std          std    std    std
number_of_doors              two          two          two   four   four
body_style           convertible  convertible    hatchback  sedan  sedan
drive_wheels                 rwd          rwd          rwd    fwd    4wd
engine_location            front        front        front  front  front
wheel_base                  88.6         88.6         94.5   99.8   99.4
length                     168.8        168.8        171.2  176.6  176.6
width                       64.1         64.1         65.5   66.2   66.4
height                      48.8         48.8         52.4   54.3   54.3
curb_weight                 2548         2548         2823   2337   2824
engine_type                 dohc         dohc         ohcv    ohc    ohc
number_of_cylinders         four         four          six   four   five
engine_size                  130          130          152    109    136
fuel_system                 mpfi         mpfi         mpfi   mpfi   mpfi
bore                        3.47         3.47         2.68   3.19   3.19
stroke                      2.68         2.68         3.47    3.4    3.4
compression_ratio              9            9            9     10      8
horsepower                   111          111          154    102    115
peak_rpm                    5000         5000         5000   5500   5500
city_mpg                      21           21           19     24     18
highway_mpg                   27           27           26     30     22
price                      13495        16500        16500  13950  17450

**How many rows and columns are there?**

In [5]:
data.shape

(201, 26)

**What is the average Price of all cars in the dataset?**

In [6]:
data['price'].mean()

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [7]:
data[data['price']==data['price'].min()]['make']

134    subaru
Name: make, dtype: object

In [8]:
data[data['price']==data['price'].max()]['make']

71    mercedes-benz
Name: make, dtype: object

**How many cars have horsepower greater than 100?**

In [9]:
data[data['horsepower']<100].shape[0]

109

**How many hatchback cars are in the dataset ?**

In [10]:
data[data['body_style']=='hatchback'].shape[0]

68

**What are the 3 most commonly found cars in the dataset?**

In [13]:
data['make'].value_counts().head(3)

toyota    32
nissan    18
mazda     17
Name: make, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [14]:
data[data['price']==7099]['make']

87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [18]:
data[data['price']>40000]['make'].unique()

array(['bmw', 'mercedes-benz'], dtype=object)

**Which are the cars that are both a sedan and priced less than 7000?**

In [22]:
data[(data['body_style']=='sedan') & (data['price']<7000)]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
19,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575
24,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
42,0,110,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
50,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695
82,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989
86,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499
88,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6649
89,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6849
118,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
152,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938

### The END