# Pandas Lab Exercise - Solutions


## Part - 1
We shall now test your skills in using Pandas package. We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

Answer each question asked below wrt the games dataset.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read games.csv as a dataframe called games.**

In [2]:
data = pd.read_csv('games_visualization_using_python.csv')

** Check the head of the DataFrame. **

In [4]:
data.head().T

,0,1,2,3,4
id,12333,120677,102794,25613,3076
type,boardgame,boardgame,boardgame,boardgame,boardgame
name,Twilight Struggle,Terra Mystica,Caverna: The Cave Farmers,Through the Ages: A Story of Civilization,Puerto Rico
yearpublished,2005,2012,2013,2006,2002
minplayers,2,2,1,2,2
maxplayers,2,5,7,4,5
playingtime,180,150,210,240,150
minplaytime,180,60,30,240,90
maxplaytime,180,150,210,240,150
minage,13,12,12,12,12
users_rated,20113,14383,9262,13294,39883
average_rating,8.33774,8.28798,8.28994,8.20407,8.14261
bayes_average_rating,8.22186,8.14232,8.06886,8.05804,8.04524
total_owners,26647,16519,12230,14343,44362
total_traders,372,132,99,362,795
total_wanters,1219,1586,1476,1084,861
total_wishers,5865,6277,5600,5075,5414
total_comments,5347,2526,1700,3378,9173
total_weights,2562,1423,777,1642,5213
average_weight,3.4785,3.8939,3.7761,4.159,3.2943

** Use .info() method to find out total number of entries in dataset**

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Data columns (total 20 columns):
id                      81312 non-null int64
type                    81312 non-null object
name                    81271 non-null object
yearpublished           81309 non-null float64
minplayers              81309 non-null float64
maxplayers              81309 non-null float64
playingtime             81309 non-null float64
minplaytime             81309 non-null float64
maxplaytime             81309 non-null float64
minage                  81309 non-null float64
users_rated             81312 non-null int64
average_rating          81312 non-null float64
bayes_average_rating    81312 non-null float64
total_owners            81312 non-null int64
total_traders           81312 non-null int64
total_wanters           81312 non-null int64
total_wishers           81312 non-null int64
total_comments          81312 non-null int64
total_weights           81312 non-null int64
average_weight          81312 non-null float64
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

**What is the mean playin time for all games put together ?**

In [6]:
data['playingtime'].mean()

51.63478827682052

** What is the highest number of comments received for a game? **

In [7]:
data['total_comments'].max()

11798

** What is the name of the game with id 1500?  **

In [9]:
data[data['id']==1500]['name']

10592    Zocken
Name: name, dtype: object

** And which year was it published? **

In [11]:
data[data['id']==1500]['yearpublished']

10592    1999.0
Name: yearpublished, dtype: float64

** Which game has received highest number of comments? **

In [25]:
data[data['total_comments']==data['total_comments'].max()]['name'].unique()

array(['Catan'], dtype=object)

** Which games have received least number of comments? **

In [29]:
data[data['total_comments']==data['total_comments'].min()]['name'].unique()

array(['Looney Leo', 'Dump', 'Field of Fire', ..., 'BEARanoia', 'Freight',
       'Bingo Animal Kids'], dtype=object)

** What was the average minage of all games per game "type"? (boardgame & boardgameexpansion)**

In [33]:
print('Board Game Averge: ', data[data['type']=='boardgame']['minage'].mean())
print('Board Game Expansion Average', data[data['type']=='boardgameexpansion']['minage'].mean())

Board Game Averge:  6.724797718062047
Board Game Expansion Average 8.733320625238276

In [36]:
data.groupby('type').mean()['minage']

type
boardgame             6.724798
boardgameexpansion    8.733321
Name: minage, dtype: float64

** How many unique games are there in the dataset? **

In [39]:
data['name'].nunique()

76035

** How many boardgames and boardgameexpansions are there in the dataset?  **

In [40]:
data['type'].value_counts()

boardgame             70820
boardgameexpansion    10492
Name: type, dtype: int64

** Is there a correlation between playing time and total comments for the games? - Use the .corr() function **

In [43]:
data[['playingtime', 'total_comments']].corr()

                playingtime  total_comments
playingtime        1.000000        0.020645
total_comments     0.020645        1.000000

### The END